{% extends "layout.html" %}
{% block body %}

        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">Contact me on:-</h1>
          <div> </div>
          <h4 class="mt-5">Gmail</h4>
          <a href="artisticfmbrothers@gmail.com" target="_blank">artisticfmbrothers@gmail.com</a>
          <h4 class="mt-5">Instagram</h4>
          <a href="https://www.instagram.com/artistic_f.m_bros/" target="_blank">https://www.instagram.com/artistic_f.m_bros/</a>
          <h4 class="mt-5">twitter</h4>
          <a href="https://twitter.com/FmStyles1?s=09" target="_blank">https://twitter.com/FmStyles1?s=09</a>
          <h4 class="mt-5">Facebook</h4>
          <a href="https://www.facebook.com/faizan.malek.12914" target="_blank">https://www.facebook.com/faizan.malek.12914</a>
          <h4 class="mt-5"> WhatsApp</h4>
          <a href="https://wa.me/message/QE6JGJPCKN3EG1" target="_blank">https://wa.me/message/QE6JGJPCKN3EG1</a>
          {% endblock %}